/* Pour le sticky Footer */
html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

  body
{
    display: flex;
    flex-direction: column;
}

  .content
{
    flex: 1 0 auto;
}

  .footer 
{
    flex-shrink: 0;
}

/* Taille */
p, h2
{
    font-size: 0.8em;
}
h5,h6
{
    font-size: 0.8em;
}

/* Police */
p, h2, h5, h6, div, span
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',  Verdana, sans-serif;
    font-style: normal;
}
a:link
{
    color: #2A2B2A;
  }

/* Couleurs */
.liens_gris
{
    color: #66666E;

}
p, h6, h5
{
    color: #2A2B2A;
}

/* Header/Haut */
.nav
{  
    display: flex;
    padding-right: 20px;
    word-spacing: 10px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.liens
{
    padding: 16px;
}

/* Section milieu/container */
#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    width:100%;
    height:auto;
    margin: auto;
}

.fruits_legumes
{   
    display: flex;
    width: 230px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.boutons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input
{
    width:300px;
    height:30px;
    padding: .0.9rem 0;
    justify-content: center;
        
}
.searchbar input:hover
{
    box-shadow: 1px 1px 20px #E6E6E9;
}

/* Footer/Bas */
.france
{ 
    border: 1px solid #9999A1;
    background-color: #F5F6FA;
    color: #9999A1;
    padding: 12px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
}

.derniere_ligne 
{
    display: flex;
    border: 1px solid #9999A1;
    background-color: #F5F6FA;
    color: #9999A1;
    align-items: space-between;
    padding: 12px;
    flex-wrap: nowrap;
    border-top: 0px;
  }

.droite
{  
    padding-left: 50%;
    align-items: flex-end;
    word-spacing: 4px;
    flex-wrap: nowrap;
}

.gauche
{  
    justify-content: flex-start;
    word-spacing: 4px;
    flex-wrap: nowrap;
}

.bordure
{
    border: 1px #E6E6E9 solid;
}

.liens_gris bordure
{
    padding: 12px;
    flex-direction: row;
    width: 50%;
    overflow: auto;
}

